<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="AssDb" connectionString="data source=capstone.ciozukiytibv.us-east-1.rds.amazonaws.com; Network=DBMSSOCN; Initial Catalog=scrum_db; User ID=rootuser; Password=rootuser"/>
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="MyService">
        <endpoint address="localhost:8080/Services" binding="wsHttpBinding"/>
      </service>
    </services>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
